.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.footer p {
  color: #171717;
  font-size: "sarah", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.025rem;
}
